@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background: #f5f5f5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.mainContainer{
  /* background-color: green; */
  padding-left: 20px;
  padding-right: 20px;
}

.mainButton{
  background: #FFFFFF;
  color: #212121;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mainButton:hover{
  background: rgb(227, 171, 180);
}

.mainButton img{
  width: 20px;
  margin-left: 10px;
  
}

.pink-btn{
  background:rgb(227, 171, 180);
}

.pink-btn:hover{
  background:#ff7a7a;
}